.container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
}
.listitem{
    margin-left: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
.listitem:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hambuber{
    display: none;
}
@media(max-width: 768px){
    .navbar{
        background-color: white;
        display: flex;
        flex-direction: row;
        width: 768px;
        height: 100px;
        align-items: center;
        justify-content: space-around;
        font-family: 'Jost', sans-serif;
        font-size: 13px;
        
    }
    .container{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hambuber{
        display: none;
    }
}
@media(max-width: 380px){
    .navbar{
        height: 150px;
        position: fixed;
        z-index: 10;
    }
    .logo{
        height: 50px;
        width: 350px;
    }
    .container{
        width: 85%;
    }
    .listitems{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left:1px;
        background-color: #1d1c1e;
        height: 430px;
        width: 770px;
        z-index: 2;
        font-size: 40px;
        color: white;
        display: flex;
        position: fixed;
    }
    .listitemsdesktop{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left:1px;
        background-color: #1d1c1e;
        height: 430px;
        width: 770px;
        z-index: 2;
        font-size: 40px;
        color: white;
        display: flex;
        position: fixed;
    }
    .listitem{
        font-size: 50px;
        color: white;
        padding: 40px;
    }
    .hambuber{
        display: flex;
    }
}